<header class="app-header" [class.hidden]="!isVisible">
  <div class="left">
    <a routerLink="/" class="icon-button" title="Home">
      <img src="../../../assets/pics/cherry.png" alt="logo" />
    </a>
  </div>

  <div class="right">

    <!-- Admin Login Button (shows when logged out) 
    @if (!showAdminButton) {
      <button
        (click)="onAdminClick()"
        class="admin-button"
        title="Admin Login">
        <img src="../../../assets/pics/assets/account.svg" alt="Admin Login" />
      </button>
    }

    <!-- Admin Dashboard Button (shows when logged in) -->
    @if (showAdminButton) {
      <button
        (click)="onAdminClick()"
        class="admin-button"
        title="Admin Dashboard">
        <img src="../../../assets/pics/assets/anal.svg" alt="Admin Dashboard" />
      </button>-->
    }
  </div>
</header>
